[flake8]
# The flake8 config should work well with black
# https://black.readthedocs.io/en/stable/guides/using_black_with_other_tools.html#flake8
ignore = E203,E501,E741,N802,N814,N817,P101,SIM105,VNE001,VNE002,VNE003,W503,W604
exclude = build,sample-files,dist,.benchmarks,.git,.github,.mypy_cache,.pytest_cache
per-file-ignores =
    tests/*: ASS001,PT011,B011,T001,T201
    make_release.py:T001,T201
