language: python

python:
  - 3.6
  - 3.7
  - 3.8
  - 3.9
  - 3.9-dev
  - nightly

jobs:
  allow_failures:
    - python: 3.9-dev
    - python: nightly

before_install:
  - python --version
  - pip install -U pip

install:
  - pip install -r requirements.txt

script:
  - sh unittest.sh
