# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Unit Tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["2.7", "3.6", "3.7", "3.8", "3.9", "3.10"]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Upgrade pip
      run: |
        python -m pip install --upgrade pip

    - name: Install requirements (python 3)
      if: matrix.python-version != '2.7'
      run: |
        pip install -r requirements/ci.txt
    - name: Install requirements (python 2)
      if: matrix.python-version == '2.7'
      run: |
        pip install pillow pytest pytest-cov

    - name: Install module
      run: |
        pip install .

    - name: Test with flake8
      run: |
        flake8 . --ignore E,F,I,SIM,C,PT,N,ASS,A,P,R,W
      if: matrix.python-version != '2.7'

    - name: Test with pytest
      run: |
        pytest Tests/tests.py Tests --cov --cov-report term-missing -vv
